<!-- Modal datos personales -->
<!--<div
  class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">-->
  <div class="modal fade" id="personModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Datos Personales
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="form" name="datospersonalesform">
        <div class="modal-body">
          <ul class="p-0">
            <li
              *ngFor="let pers of person"
              class="d-flex justify-content-between align-items-center m-1"
            >
              <span>{{ pers.id }} - {{ pers.name }}</span>
              <span class="d-flex justify-content-between gap-2">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0"
                  (click)="delete(pers.id)"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-success pl-1 pr-1 m-0"
                  (click)="cargarDetalle(pers.id)"
                >
                  <i class="fa-solid fa-pen"></i>
                </button>
              </span>
            </li>
          </ul>
          <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
            <div class="input-group-prepend border-0">
              <span class="input-group-text border-0" id="basic-addon1"
                >ID:</span
              >
            </div>
            <input
              class="form-control outline-none border-0 bg-transparent"
              type="text"
              readonly
              formControlName="id"
            />
          </div>

          <div class="mb-3">
            <label for="imagen" class="form-label"
              >Seleccionar Foto Perfil</label
            >
            <input
              hidden
              type="file"
              (change)="onImagenSeleccionada($event)"
              #hiddenfileinput
            />
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button
                  (click)="hiddenfileinput.click()"
                  class="btn btn-outline-secondary"
                  type="button"
                >
                  <i class="fa-solid fa-file-import"></i>
                </button>
              </div>
              <input
                class="form-control"
                type="text"
                id="imagen"
                formControlName="imagen"
                placeholder="assets/img/ejemplo.webp"
              />
            </div>
            <p
              class="text-danger"
              *ngIf="form.get('imagen')?.touched && form.get('imagen')?.errors?.['required']"
            >
              La imagen es requerida.
            </p>
          </div>

          <div class="modal-body">
            <div class="mb-3">
              <label for="banner" class="form-label"
                >Seleccionar Foto Banner</label
              >
              <input
                hidden
                type="file"
                (change)="onImagenSeleccionada($event)"
                #hiddenfileinput
              />
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button
                    (click)="hiddenfileinput.click()"
                    class="btn btn-outline-secondary"
                    type="button"
                  >
                    <i class="fa-solid fa-file-import"></i>
                  </button>
                </div>
                <input
                  class="form-control"
                  type="text"
                  id="banner"
                  formControlName="banner"
                  placeholder="assets/img/ejemplo.webp"
                />
              </div>
              <p
                class="text-danger"
                *ngIf="form.get('banner')?.touched && form.get('banner')?.errors?.['required']"
              >
                La imagen es requerida.
              </p>
            </div>

            <div class="mb-3">
              <label for="nombreperfil" class="form-label"
                >Nombre de Perfil</label
              >
              <input
                type="text"
                class="form-control"
                id="nombreperfil"
                formControlName="nombreperfil"
                [ngClass]="{
                  'is-invalid':
                    form.get('nombreperfil')?.errors &&
                    form.get('nombreperfil')?.touched,
                  'is-valid':
                    form.get('nombreperfil')?.errors &&
                    form.get('nombreperfil')?.touched
                }"
              />
              <p
                class="text-danger"
                *ngIf="form.get('nombreperfil')?.touched && form.get('nombreperfil')?.errors?.['required']"
              >
                El nombre de la institución es requerido.
              </p>
            </div>

            <div class="mb-3">
              <label for="tituloperfil" class="form-label"
                >Titulo del Perfil</label
              >
              <input
                type="text"
                class="form-control"
                id="tituloperfil"
                formControlName="tituloperfil"
                [ngClass]="{
                  'is-invalid':
                    form.get('nombreperfil')?.errors &&
                    form.get('tituloperfil')?.touched,
                  'is-valid':
                    form.get('tituloperfil')?.errors &&
                    form.get('tituloperfil')?.touched
                }"
              />
              <!-- [ngClass]="{'is-invalid': Tituloperfil?.errors && Tituloperfil?.touched, 'is-valid': !Tituloperfil?.errors && Tituloperfil?.touched}">
            <div *ngIf="Tituloperfil?.errors && Tituloperfil?.touched"-->
              <p
                class="text-danger"
                *ngIf="form.get('tituloperfil')?.touched && form.get('tituloperfil')?.errors?.['required']"
              >
                El nombre de la institución es requerido.
              </p>
            </div>

            <div class="mb-3">
              <label for="acercademi" class="form-label">Acerca de mi</label>
              <textarea
                class="form-control"
                id="acercademi"
                placeholder="agregar breve descripción de usted"
                formControlName="acercaDeMi"
                [ngClass]="{
                  'is-invalid':
                    form.get('acercaDeMi')?.errors &&
                    form.get('acercaDeMi')?.touched,
                  'is-valid':
                    form.get('acercaDeMi')?.errors &&
                    form.get('acercaDeMi')?.touched
                }"
              ></textarea>
              <p
                class="text-danger"
                *ngIf="form.get('acercaDeMi')?.touched && form.get('acercaDeMi')?.errors?.['required']"
              >
                Acerca de mi es requerido.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="form.reset()"> Reset </button>
          <button type="button" class="btn btn-primary" (click)="guardar()"[disabled]="form.invalid"> Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
