  <!--==================== FOOTER ====================-->

  <footer class="footer">
    <div class="footer__bg">
      <div class="footer__container container grid">
        <div>
          <h1 class="footer__title">Francisco A. D'Eramo</h1>
          <span class="footer__subtitle">Fullstack Developer · UX/UI Designer · Film Director</span>
        </div>

        <ul class="footer__links">
          <li>
            <a href="#services" class="footer__link">Servicios</a>
          </li>
          <li>
            <a href="#portfolio" class="footer__link">Portfolio</a>
          </li>
          <li>
            <a href="#contact" class="footer__link">Contáctame</a>
          </li>
        </ul>

        <div class="footer__socials">
            <a href="https://www.linkedin.com/in/franciscoderamo/" target="_blank" class="footer__social">
                <i class="uil uil-linkedin-alt"></i>
            </a>

            <a href="https://github.com/franciscoderamo" target="_blank" class="footer__social">
                <i class="uil uil-github"></i>
            </a>

            <a href="https://web.whatsapp.com/send?phone=5491159460205&text=Hola%20Francisco!%20Vi%20tu%20CV%20online%20y%20queria%20consultarte" target="_blank" class="footer__social">
                <i class="uil uil-whatsapp"></i>
            </a>
        </div>
      </div>

      <p class="footer__copy">
        © 2022. Hecho con
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.28 9.39" style="width: 10px; margin: 0 2px;">
            <defs>
                <style>.cls-1{fill:#cb0000}</style>
            </defs>
            <title>Asset 6</title>
            <g id="Layer_2" data-name="Layer 2">
                <path class="cls-1" d="M5.14 9.39c3.48-2.22 5.14-4.25 5.14-6.14S9.21 0 7.71 0a3.47 3.47 0 0 0-2.57 1.09A3.47 3.47 0 0 0 2.57 0C1.08 0 0 1.35 0 3.25s1.66 3.92 5.14 6.14z" id="Layer_1-2" data-name="Layer 1">                            </path>
            </g>
        </svg>
         por
        <a href="https://web.whatsapp.com/send?phone=5491159460205" target="_blank">
            <b>Francisco D'Eramo</b>
        </a>. Todos los derechos reservados.</p>
    </div>
</footer>
