  <!--==================== PORTFOLIO ====================-->
  <section class="portfolio section" id="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Trabajos más recientes</span>
        <div class="portfolio__container container swiper-container">
          <swiper
          [slidesPerView]="1"
          [spaceBetween]="0"
          [navigation]="true"
          >
          <!-- [pagination]="{ clickable: true }" -->
          <ng-template swiperSlide *ngFor="let portfolioList of portfolio">
            <div class="swiper-wrapper">
              <div class="portfolio__content grid swiper-slide">

              <!--==================== WORKED ====================-->
                  <img [src]="portfolioList.image" alt="" class="portfolio__img">
                  <div class="portfolio__data">
                      <h3 class="portfolio__title">{{portfolioList.title}}</h3>
                      <p class="portfolio__description">{{portfolioList.description}}</p>
                      <a [href]="portfolioList.link" class="button button--flex button--small portfolio__button">
                          Ver más
                          <i class="uil uil-arrow-right button_icon"></i>
                      </a>
                  </div>
              </div>
            </div>
          </ng-template>
        </swiper>
    </div>

</section>
