  <!--==================== QUALIFICATION ====================-->
  <section class="qualification section">
    <h2 class="section__title">Trayectoria</h2>
    <span class="section__subtitle">Historia de mi vida</span>
    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class="qualification__button button--flex qualification__active" data-target="#education">
                <i class="uil uil-graduation-cap qualification__icon"></i>
                Educación
            </div>

            <div class="qualification__button button--flex" data-target="#work">
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                Trabajo
            </div>
        </div>
        <div class="qualification__sections">
            <!--==================== QUALIFICATION CONTENT 1 ====================-->
            <div class="qualification__content qualification__active" data-content id="education">
                <!--==================== QUALIFICATION 1 ====================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Lic. en Artes Audiovisuales</h3>
                        <span class="qualification__subtitle">Universidad Nacional de Avellaneda</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2012 - 2015
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                </div>
                <!--==================== QUALIFICATION 2 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Professional Webmaster</h3>
                        <span class="qualification__subtitle">Universidad Tecnológica Nacional</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2016
                        </div>
                    </div>
                </div>
                <!--==================== QUALIFICATION 3 ====================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Ing. en Informática</h3>
                        <span class="qualification__subtitle">Universidad Nacional de Avellaneda</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2020 - 2025
                        </div>
                    </div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <!--==================== QUALIFICATION 4 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <!--<span class="qualification__line"></span>-->
                    </div>

                    <div>
                        <h3 class="qualification__title">Argentina Programa</h3>
                        <span class="qualification__subtitle">Min. Desarrollo, CESSI e INTI</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2022 - 2023
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== QUALIFICATION CONTENT 2 ====================-->
            <div class="qualification__content" data-content id="work">
                <!--==================== QUALIFICATION 1 ====================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Diseñador gráfico</h3>
                        <span class="qualification__subtitle">La Merced Patagonia Producciones</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2009 - 2010
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <!--==================== QUALIFICATION 2 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Diseñador & E-Commerce Manager </h3>
                        <span class="qualification__subtitle">HTG Computación</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2013 - 2015
                        </div>
                    </div>
                </div>
                <!--==================== QUALIFICATION 3 ====================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Editor Audiovisual</h3>
                        <span class="qualification__subtitle">La Chispa Films</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2015 - 2016
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <!--==================== QUALIFICATION 4 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Diseñador y Realizador Audiovisual</h3>
                        <span class="qualification__subtitle">Freelance</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2016 - 2022
                        </div>
                    </div>
                </div>
                <!--==================== QUALIFICATION 5 ====================-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Diseñador Web WordPress & UI/UX</h3>
                        <span class="qualification__subtitle">DAFSCODE</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2020 - 2022
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <!--<span class="qualification__line"></span>-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
