  <!--==================== ABOUT ====================-->
  <section class="about section" id="about">
    <h2 class="section__title">Sobre mi</h2>
    <span class="section__subtitle">Te cuento un poco de mi</span>
    <div class="about__container container grid">
        <img [src]="about.image" alt="" class="about__img">
        <div class="about__data">
            <p class="about__description">{{about.description}}</p>
            <div class="about__info">
              <ul>
                <li class="about__experience" *ngFor="let experiences of experienceList">
                  <div>
                      <span class="about__info-title">{{experiences.ages}}+</span>
                      <span class="about__info-name">Años como<br><strong>{{experiences.position}}</strong></span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="about__buttons">
                <a download="" href="#" class="home__scroll-button button__flex">
                    Descargar CV <i class="uil uil-file-download button__icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>
