<app-header></app-header>
  <div class="container mt-5" *ngIf="studies">
    <div class="mt-5 mb-2">
      <br><br>
      <h2>Modificar estudio</h2>
      <hr>
    </div>
    <form class="row g-3 mt-2" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="col-md-4">
        <label for="inputCarrer" class="form-label">Carrera/Curso</label>
        <input type="text" class="form-control" id="inputCarrer" name="inputCarrer" [(ngModel)]="studies.carrer" [placeholder]="studies.carrer" required>
      </div>
      <div class="col-md-4">
        <label for="inputInstitution" class="form-label">Institución</label>
        <input type="text" class="form-control" id="inputInstitution" name="inputInstitution" [(ngModel)]="studies.institution" [placeholder]="studies.institution" required>
      </div>
      <div class="col-md-2">
        <label for="inputStart" class="form-label">Año comienzo</label>
        <input type="number" min="1900" max="2099" step="1" value="2015" class="form-control" id="inputStart" name="inputStart" [(ngModel)]="studies.start" [placeholder]="studies.start" required>
      </div>
      <div class="col-md-2">
        <label for="inputEnd" class="form-label">Año fin</label>
        <input type="number" min="1900" max="2099" step="1" value="2015" class="form-control" id="inputEnd" name="inputEnd" [(ngModel)]="studies.end" [placeholder]="studies.end" required>
      </div>
      <div class="col-12">
        <button type="submit" class="button button__flex">Enviar <i class="uil uil-message button__icon"></i></button>
      </div>
    </form>
  </div>
<app-footer></app-footer>
