<app-header></app-header>
    <section class="registro container p-5">
      <div class="container-fluid text-center">
        <div class="row">
         <div class="col-12 pt-5 mt-3">
          <ul class="list-group classds">
            <!-- Button trigger modal sobre mi -->
            <li type="button" class="list-group-item classds list-group-item-action list-group-item-light" data-bs-toggle="modal" data-bs-target="#personModal"><i class="uil uil-pencil"></i>Sobre mi</li>
            <!-- Button trigger modal experiencia -->
            <li type="button" class="list-group-item classds list-group-item-action list-group-item-light" data-bs-toggle="modal" data-bs-target="#experienceModal"><i class="uil uil-pencil"></i>Experiencias</li>
            <!-- Button trigger modal habilidades -->
            <li type="button" class="list-group-item classds list-group-item-action list-group-item-light" data-bs-toggle="modal" data-bs-target="#skillModal"><i class="uil uil-pencil"></i>Habilidades</li>
            <!-- Button trigger modal estudios -->
            <li type="button" class="list-group-item classds list-group-item-action list-group-item-light" data-bs-toggle="modal" data-bs-target="#studiesModal"><i class="uil uil-pencil"></i>Estudios</li>
            <!-- Button trigger modal trabajos -->
            <li type="button" class="list-group-item classds list-group-item-action list-group-item-light " data-bs-toggle="modal" data-bs-target="#workedModal"><i class="uil uil-pencil"></i>Trabajos</li>
            <!-- Button trigger modal servicios -->
            <li type="button" class="list-group-item classds list-group-item-action list-group-item-info"data-bs-toggle="modal" data-bs-target="#servicesModal"><i class="uil uil-pencil"></i>Servicios</li>
            <!-- Button trigger modal proyecto -->
            <li type="button" class="list-group-item classds list-group-item-action list-group-item-info"data-bs-toggle="modal" data-bs-target="#proyectModal"><i class="uil uil-pencil"></i>Proyectos</li>
          </ul>
        </div>
        <div class="col-8">
        </div>
        <div class="col-1">
        </div>
        </div>
      </div>
    </section>
  <app-person></app-person>
  <app-footer></app-footer>
