<app-header></app-header>
<section class="dashboard section" id="dashboard">
  <h2 class="section__title">Panel de administración</h2>
  <span class="section__subtitle">Portfolio</span>
  <div class="dashboard__container container grid" >
    <div>
      <div class="dashboard__content">
        <ngb-accordion #acc="ngbAccordion">
          <!-- <ngb-panel id="panel1" title="1" (click)="acc.toggle('panel1')"> -->
          <!-- About -->
          <ngb-panel id="about">
            <ng-template ngbPanelTitle>
              <div class="dashboard__header">
                <i class="uil uil-user dashboard__icon"></i>
                  <div>
                    <h2 class="dashboard__title">Datos personales</h2>
                    <span class="dashboard__subtitle">Ver más información</span>
                  </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent >
              <app-modal-person></app-modal-person>
            </ng-template>
          </ngb-panel>
          <!-- Experiences -->
          <ngb-panel id="experiences">
            <ng-template ngbPanelTitle>
              <div class="dashboard__header">
                <i class="uil uil-suitcase dashboard__icon"></i>
                  <div>
                    <h2 class="dashboard__title">Experiencias</h2>
                    <span class="dashboard__subtitle">Ver más información</span>
                  </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent >
              <app-modal-experience></app-modal-experience>
            </ng-template>
          </ngb-panel>
          <!-- Skills -->
          <ngb-panel id="skills">
            <ng-template ngbPanelTitle>
              <div class="dashboard__header">
                <i class="uil uil-flask dashboard__icon"></i>
                  <div>
                    <h2 class="dashboard__title">Habilidades</h2>
                    <span class="dashboard__subtitle">Ver más información</span>
                  </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <app-modal-skill-group></app-modal-skill-group>
              <app-modal-skill></app-modal-skill>
            </ng-template>
          </ngb-panel>
          <!-- Studies -->
          <ngb-panel id="studies">
            <ng-template ngbPanelTitle>
              <div class="dashboard__header">
                <i class="uil uil-book dashboard__icon"></i>
                  <div>
                    <h2 class="dashboard__title">Estudios</h2>
                    <span class="dashboard__subtitle">Ver más información</span>
                  </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent >
              <app-modal-studies></app-modal-studies>
            </ng-template>
          </ngb-panel>
          <!-- Works -->
          <ngb-panel id="jobs">
            <ng-template ngbPanelTitle>
              <div class="dashboard__header">
                <i class="uil uil-folder dashboard__icon"></i>
                  <div>
                    <h2 class="dashboard__title">Trabajos</h2>
                    <span class="dashboard__subtitle">Ver más información</span>
                  </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent >
              <app-modal-job></app-modal-job>
            </ng-template>
          </ngb-panel>
          <!-- Services -->
          <ngb-panel id="services">
            <ng-template ngbPanelTitle>
              <div class="dashboard__header">
                <i class="uil uil-postcard dashboard__icon"></i>
                  <div>
                    <h2 class="dashboard__title">Servicios</h2>
                    <span class="dashboard__subtitle">Ver más información</span>
                  </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent >
              <app-modal-services></app-modal-services>
              <app-modal-task></app-modal-task>
            </ng-template>
          </ngb-panel>
          <!-- Portfolios -->
          <ngb-panel id="portfolios">
            <ng-template ngbPanelTitle>
              <div class="dashboard__header">
                <i class="uil uil-bag dashboard__icon"></i>
                  <div>
                    <h2 class="dashboard__title">Portfolio</h2>
                    <span class="dashboard__subtitle">Ver más información</span>
                  </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <app-modal-portfolio></app-modal-portfolio>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
